.app {
  display: flex;
  height: 100%;
  width: 100%;

  &-left {
    background-color: black;
    color: white;
    height: 100%;
    width: 50%;
    resize: horizontal;
    overflow: auto;
  }

  &-right {
    background-color: grey;
    height: 100%;
    width: 50%;
  }
}

.fill-items {
  display: flex;

  &-item {
    padding: 8px;
    margin: 8px;
    border: 1px solid grey;
    white-space: nowrap;
  }
}
