#PhotoGallery {
  > section {
    height: 100vh;
    display: flex;
    .left-text {
      width: 50%;
      display: flex;
      align-items: center;
      .text-content {
        font-size: 100px;
        position: relative;
        z-index: 1;
      }
    }
    .right-img {
      width: 50%;
      margin: 10vh 5vw; 
      display: flex;
      align-items: center;
      overflow: hidden;
      img {
        position: relative;
        z-index: 0;
        width: 100%;
        transition: transform 250ms ease-in-out;
        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
}