#TextHover {
    color: #ff2828;
    display: inline-block;
    .char {
        position: relative;
        overflow: hidden;
        display: inline-block;
        > .char_content {
            -webkit-transition: -webkit-transform 1.5s cubic-bezier(1,.15,.25,1);
            transition: -webkit-transform 1.5s cubic-bezier(1,.15,.25,1);
            transition: transform 1.5s cubic-bezier(1,.15,.25,1);
            transition: transform 1.5s cubic-bezier(1,.15,.25,1),-webkit-transform 1.5s cubic-bezier(1,.15,.25,1);
            &::after {
                position: absolute;
                left: 120%;
                content: attr(data-text);
            }
        }
    }
    &.char_hover {
        .char > .char_content {
            transform: translateX(-120%);
        }  
    }
}